<div ng-include="'components/nav/navbar.html'"></div>

<div class="container">

  <section ng-if="playing" class="well col-sm-12">
    <article>
      <h1>{{game.activity.name}} <small><a target="_blank" href="{{game.activity.wikiLink}}">Wiki</a></small></h1>
      <blockquote>{{game.activity.description}}</blockquote>
    </article>
    <article class="videos">
      <div class="videos-list">
        <div class="row">
          <ul>
            <li class="thumbnail col-sm-1" ng-repeat="video in game.activity.videos">
              <a ng-click="setVideo(video)">
                <img src="http://img.youtube.com/vi/{{video}}/0.jpg"/>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="video-responsive" ng-if="videoPlaying">
        <youtube width="{{yt.width}}" height="{{yt.height}}" videoid="{{yt.videoid}}"></youtube>
      </div>
    </article>
  </section>

  <section class="col-sm-12 col-md-6" ng-if="playing">
    <table class="table table-hover">
      <thead>
        <tr>
          <td><strong>#</strong></td>
          <td><strong>Name</strong></td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="player in game.players">
          <td>{{$index +1}}</td>
          <td>{{player.name}}</td>
        </tr>
      <tbody>
    </table>
  </section>

  <section class="col-sm-12 col-md-6" ng-if="playing">
    <h1 class="rule">Loser drinks {{game.drink.qty | decimalToWord}} {{game.drink.type}}</h1>
  </section>

  <section class="col-sm-12">
    <button class="btn btn-lg btn-primary" ng-click="play()">Play</button>
  </section>

</div>